:host {
    display: block;
    height: 527px;
    //height: calc(150% - 100px);
    padding: 10px 16px;
    background-color: #cde5f1;
    border: red; 
    overflow-y: auto;
    
  .g{
    color: brown;
  }
 }